LV_PLUGIN_DEBUG=0
LV_PLUGIN_PHP_BINARY=/usr/local/bin/php
LV_PLUGIN_QUEUE_LIMIT=1
# Set this to the exact public URL Render gives you, with trailing slash
LV_PLUGIN_SELF_URI=https://YOUR-APP-NAME.onrender.com/

DATABASE_TYPE=sqlite
